//- phantomochajs
//- GitHub: https://github.com/sh19910711/
doctype html
html
  head
    meta(charset='utf-8')
    title Mocha Tests
    link(href="#{mocha_css_url}", rel='stylesheet')
  body
    div(id='mocha')

    //- load test dependencies (mocha, chai, etc...)
    - for ( var key in test_dependencies )
      script(src="#{test_dependencies[key]}")
    
    //- mocha setup
    script
      | mocha.setup('bdd')

    //- load depended modules (e.g. tested modules)
    - for ( var key in dependencies )
      script(src="#{dependencies[key]}")

    //- load test scripts
    - for ( var key in scripts )
      != js(scripts[key])


    //- run mocha
    script
      | if (window.mochaPhantomJS) {
      |   mochaPhantomJS.run();
      | } else {
      |   mocha.run();
      | }

